version: 2.1

defaults: &defaults
  docker:
    - image: cimg/base@sha256:d75b94c6eae6e660b6db36761709626b93cabe8c8da5b955bfbf7832257e4201
  working_directory: ~/chip-seq-pipeline2

machine_defaults: &machine_defaults
  machine: 
    image: ubuntu-2004:202201-02
  working_directory: ~/chip-seq-pipeline2

make_tag: &make_tag
  name: make docker image tag
  command: |
    echo "export TAG=encodedcc/chip-seq-pipeline:${CIRCLE_BRANCH}_${CIRCLE_WORKFLOW_ID}" > ${BASH_ENV}

commands:
  install_python3_caper_gcs:
    description: "Install py3, caper and gcs. Set py3 as default python."
    steps:      
      - run:
          command: |
            sudo apt-get update && sudo apt-get install software-properties-common git wget curl -y
            sudo apt-get install -y software-properties-common git wget curl python3 python3-pip default-jre

            sudo python3 -m pip install --upgrade pip
            sudo pip3 install PyYAML --ignore-installed
            sudo pip3 install caper google-cloud-storage

  run_workflow_test:
    description: "Run workflow test. This requires an env var INPUT as input JSON's basename."
    steps:
      - run:
          no_output_timeout: 300m
          command: |
            cd dev/test/test_workflow/
            source ${BASH_ENV}

            echo ${GCLOUD_SERVICE_ACCOUNT_SECRET_JSON} > tmp_secret_key.json
            export GOOGLE_APPLICATION_CREDENTIALS=$PWD/tmp_secret_key.json

            # add docker image to input JSON
            cat ${INPUT} | jq ".+{\"chip.docker\": \"${TAG}\"}" > input_with_docker.json

            caper run ../../../chip.wdl \
              --backend gcp --gcp-prj ${GOOGLE_PROJECT_ID} \
              --gcp-service-account-key-json $PWD/tmp_secret_key.json \
              --out-gcs-bucket ${CAPER_OUT_DIR} --tmp-gcs-bucket ${CAPER_TMP_DIR} \
              -i input_with_docker.json -m metadata.json --docker ${TAG}

            rm -f input_with_docker.json

            res=$(jq '.outputs["chip.qc_json_ref_match"]' metadata.json)
            [[ "$res" != true ]] && exit 100
            rm -f metadata.json

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run: *make_tag
      - run:
          name: build image
          command: |
            source ${BASH_ENV}
            export DOCKER_CACHE_TAG=v2.1.0
            echo "pulling ${DOCKER_CACHE_TAG}!"
            docker pull encodedcc/chip-seq-pipeline:${DOCKER_CACHE_TAG}
            docker login -u=${DOCKERHUB_USER} -p=${DOCKERHUB_PASS}
            docker build --cache-from encodedcc/chip-seq-pipeline:${DOCKER_CACHE_TAG} --build-arg GIT_COMMIT_HASH=${CIRCLE_SHA1} --build-arg BRANCH=${CIRCLE_BRANCH} --build-arg BUILD_TAG=${TAG} -t $TAG -f dev/docker_image/Dockerfile .
            docker push ${TAG}
            docker logout
  test_tasks:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          no_output_timeout: 300m
          command: |
            source ${BASH_ENV}
            cd dev/test/test_task/

            echo ${GCLOUD_SERVICE_ACCOUNT_SECRET_JSON} > tmp_secret_key.json
            export GOOGLE_APPLICATION_CREDENTIALS=$PWD/tmp_secret_key.json

            # unittest for wrapper .py
            docker run ${TAG} bash -c "cd /software/chip-seq-pipeline/dev/test/test_py/; pytest -vv"

            for wdl in test_*.wdl
            do
              prefix=${wdl%.*}
              input=${prefix}.json
              input_with_docker=${prefix}.docker.json
              metadata=${prefix}.metadata.json

              # add docker image to input JSON
              cat ${input} | jq ".+{\"${prefix}.docker\": \"${TAG}\"}" > ${input_with_docker}

              caper run ${wdl} -i ${input_with_docker} -m ${metadata}
              if [[ "${wdl}" != "test_choose_ctl.wdl" ]]; then
                echo "Validating outputs of ${prefix}"
                res=$(jq '.outputs["'${prefix}'.compare_md5sum.match_overall"]' "${metadata}")
                [[ "$res" != true ]] && exit 100
              fi
              rm -f ${metadata}
            done
            
  test_workflow_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_chr19_only.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_ctl_sub_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_ctl_sub_chr19_only.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_unrep_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_chr19_only_unrep.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_pe:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_chr19_only.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_pe_control_mode:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_chr19_only_control_mode.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_ctl_sub_pe:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_ctl_sub_chr19_only.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_ctl_sub_1ctl_pe:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_ctl_sub_1ctl_chr19_only.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_hist_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_chr19_only_hist.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_hist_unrep_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_chr19_only_hist_unrep.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_hist_pe:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_chr19_only_hist.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_true_rep_only_pbam_se:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR000DYI_subsampled_chr19_only_true_rep_only_pbam.json" >> ${BASH_ENV}
      - run_workflow_test

  test_workflow_true_rep_only_pbam_pe:
    <<: *machine_defaults
    steps:
      - checkout
      - install_python3_caper_gcs
      - run: *make_tag
      - run:
          command: |
            echo "export INPUT=ENCSR936XTK_subsampled_chr19_only_true_rep_only_pbam.json" >> ${BASH_ENV}
      - run_workflow_test

workflows:
  version: 2.1
  build_workflow:
    jobs:
      - build
      - test_tasks:
          requires:
            - build
      - test_workflow_se:
          requires:
            - build
      - test_workflow_ctl_sub_se:
          requires:
            - build
      - test_workflow_unrep_se:
          requires:
            - build
      - test_workflow_pe:
          requires:
            - build
      - test_workflow_pe_control_mode:
          requires:
            - build
      - test_workflow_ctl_sub_pe:
          requires:
            - build
      - test_workflow_ctl_sub_1ctl_pe:
          requires:
            - build
      - test_workflow_hist_se:
          requires:
            - build
      - test_workflow_hist_unrep_se:
          requires:
            - build
      - test_workflow_hist_pe:
          requires:
            - build
      - test_workflow_true_rep_only_pbam_se:
          requires:
            - build
      - test_workflow_true_rep_only_pbam_pe:
          requires:
            - build
